<% if (locals.errors) { %>
<p>Sorry, something went wrong. Please consider correcting the following errors:</p>
<ul>
  <% errors.forEach(function (error) { %>
  <li><%= error.msg %></li>
  <%> }) %>
</ul>
<% ) %>