<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/styles.css">
  <title>File uploader</title>
</head>

<body>

  <header>
    <h1>401</h1>
  </header>
  <main>
    <a href="/">Go Back</a>
    <p>You don't have access to that page!</p>
    <p><%= errorMsg %></p>
  </main>
</body>


</html>