<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/styles.css">
  <title>Update <%= file.name %></title>
</head>

<body>

  <header>
    <h1>Update Folder</h1>
    <%- include("partials/error.ejs") %>
    <a href="/">Go Back</a>
  </header>
  <!-- todo: add obj -->
  <main>
    <% if (locals.currentUser) { %>

    <form action="/updateFile/<%= file.id %>" method="post">
      <p>
        <label for="foldername">New Folder Name:</label>
        <input type="text" id="foldername" name="foldername" value="<% if (originalName) { %><%= originalName %><% } %>" required />
      </p>
      <button type="submit">Submit</button>
    </form>
    
    <% } %>
  </main>
</body>


</html>